@tailwind base;
@tailwind components;
@tailwind utilities;

/* MOBİL KAYDIRMA (OVERSCROLL) VE SİYAH EKRAN DÜZELTMESİ */
html, body {
  background-color: #f9fafb; /* Tailwind'deki bg-gray-50 */
  color: #111827; /* text-gray-900 */
  overflow-x: hidden; /* Sağa sola kayarken çıkan siyah boşluğu engeller */
  overscroll-behavior-y: none; /* Sayfanın aşağı yukarı lastik gibi esnemesini durdurur */
}